h1{
    color: white;
 
}
.head{
    background-color: #000080;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100vw;
}
img{
  border-radius:100%; 
  border: 2px solid transparent;
    height: 130px;
    width: 130px;
}
img:hover{
  
    cursor: pointer;
 
    opacity: 0.5;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.score{
    margin: 25px;
}

.score1{
    font-size: 30px;
    font-weight: bolder;
    margin: 7px;
}

.score2{
    font-weight: bolder;
    font-size: 20px;
}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000080;
    font-weight: bolder;
    color: white;
    height: 50px;
    padding: 0px 15px 0px 15px;
    border-radius: 30px;
    font-size: 18px;
}
